body {
	background-color: #f5f5f5;
	color: #222;
	font-family: "MS Pゴシック", "MS PGothic", "Mona", "Hiragino Kaku Gothic Pro";
	font-size: 10pt;
}
h1 {
	display: inline;
}
li {
	position: relative;
	background-color: white;
	border: 1px solid #aaa;
	border-radius: 5px;
	display: block;
	float: left;
	font-weight: bold;
	margin: 0.5em;
	padding: 0.5em;
	width: 9em;
	min-height: 13em;
}
li.black {
	background-color: black;
	color: #f0f0f0;
	margin-bottom: 1em;
}
li.normal {
	color: #aaa;
}
li.selected {
	background-color: #55f;
	color: white;
	margin-top: -1em;
	margin-bottom: 2em;
}
li.selecting {
	border-color: white;
	color: black;
	margin-top: -0.5em;
	margin-bottom: 1.5em;
}
.unlocked li.normal {
	color: #555;
	cursor: pointer;
}
.unlocked li.normal:hover {
	border-color: white;
}
li span {
	bottom: -0.2em;
	color: #eee;
	font-size: 50pt;
	position: absolute;
	right: 0;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-ms-user-select: none;
	z-index: 1;
}
li a {
	position: relative;
	z-index: 2;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#account {
	float: right;
}
#account #username {
	border: 0;
	width: 8em;
}
#account > input {
	float: right;
}
#chat {
	background-color: white;
	border: 1px solid #aaa;
	border-radius: 3px;
	float: left;
	margin: 0.25em 0;
	padding: 5px;
	width: 30em;
}
#chat input {
	width: 99%;
	margin: 0;
	padding: 0;
}
#messages {
	overflow: scroll;
	height: 13em;
	margin-bottom: 5px;
}
#messages p {
	margin: 0.2em;
}
#messages .system {
	color: gray;
}
#roster {
	float: left;
	overflow: auto;
	margin: 0.25em 0.5em;
	padding: 0.25em;
	text-align: right;
	height: 15em;
	white-space: nowrap;
	width: 10em;
}
#roster em {
	font-style: normal;
	color: #55f;
}
#roster .dealer {
	font-weight: bold;
}
#roster .abandoned {
	text-decoration: line-through;
}
#roster .ready {
	padding-left: 14px;
	background: url('ready.png') no-repeat left center;
	background-size: 10px 10px;
}
#roster .spec {
	color: #999;
}
#social {
	clear: right;
	float: right;
}
#status {
	clear: both;
	font-weight: bold;
	text-align: left;
	padding: 0.5em 0.5em 0 0.5em;
	margin: 0;
}
#status.error {
	color: red;
}
#submissions {
	float: left;
	margin: 0.5em;
}
#submissions a {
	background-color: #f5f5f5;
	border: 1px solid #777;
	border-radius: 2px;
	display: block;
	padding: 0.4em 1em;
	margin-bottom: 1px;
}
#submissions a.winner, #submissions a.winner b {
	background-color: #55f;
	color: white;
}
#submissions a b {
	color: #55f;
}
#submissions.electing a {
	background-color: white;
	border-color: #55f;
	cursor: pointer;
}
#submissions.electing a:hover {
	border-color: white;
}
#suggestions {
	clear: both;
	padding-top: 2em;
	size: small;
	text-align: right;
}
#suggestions a {
	color: #bbb;
}
